body {
  background-image: url(../public/img/Pattern.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

@font-face {
  font-family: "Exo20"; 
  src: url("../fonts/Exo20-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

.area {
  text-align: center;
  width: 100%; 
  height: 100%;
  position: absolute;
  /* z-index: 2; */
  top: 0px;
  left: 0px; 

}

.block  {	
  display: inline-block;
  position: relative;
  /* position: absolute;  ломает адаптацию блоков*/
  padding: 107px;
  margin: 0 auto;
  width: 320px;
  height: 530px;
  /* padding-left: 100px;
  padding-right: 100px; */
 
}

.wrapper {
  position: absolute;
  background-image: url(../public/img/Back.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 480px;
  cursor: pointer;
}

/* .block img {
  margin: 5px;
  
} */

.disable {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

#disable_block, #disable_block div,  #disable_block span {
  cursor: default;
}

#disable_block .cat img, #disable_block h1, #disable_block h2  {
  opacity:65%;
}

#disable_block .description span {
  color: #ffff66;
}

.back-pattern {
  width: 100%;
  height: 100%;
}   

.title_block {
  position: relative;
  top: 25px;
  text-align: left;
  padding-left: 50px;

}

span {
  font-family: Trebuchet MS;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}
p {
  margin: 0px;
  margin-top: 1px;
}
h1, h2 {
  margin: 5px;
  font-family: Trebuchet MS;
  font-size: 48px;
  font-style: bold;
  margin-left: 0px;
}
h2 {
  margin-bottom: 10px ;
  font-size: 24px;
}
p span {
  font-size: 14px;
  font-style: normal;
}

.cat {
  position: absolute;
  bottom: 0px;
  padding: 0px;
  left: 5px;
  text-align: left; 
  /* background-image: url(../public/img/Cat.png);
  background-repeat: no-repeat; */
}

.wrapper div:first-child {
  height: 400px;
}

.label {
  position: absolute;
  padding: 0px;
  right: 15px;
  bottom: 15px;
  width: 81px;
  height: 81px;
  background-image: url(../public/img/Ellipse.png);
}

.weight {
  font-family: Trebuchet MS;
  font-size: 42px;
  color: #fff
}

.label div {
  position: relative;
  text-align: center;
  top: 10px;
  
}

.weight ~ p > span{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40px;
  right: 30px;
}

#text-head > span {
  color: #fff;
  font-size: 36px;
  font-family: 'Exo20';
}
#text-head  {
  padding-top: 30px;
  text-align: center;
}

.description {
  position: relative;
  top: 495px;
  text-align: center;
}

.description > span:first-child {
  color: #fff;
  cursor: default;
}

.description >span {
  font-size: 13px;
}

.buy {
  border-bottom: 1px dashed  #1a95d7;
  color:#1a95d7 ;
  cursor: pointer;
}