@media (max-width: 1410px) {
  .block {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
}

body {
  background-image: url(../public/img/Pattern.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.hover_title {
  display: none;
  color: #e62e7a;
}

@font-face {
  font-family: "Exo20"; 
  src: url("../fonts/Exo20-Thin.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

.area {
  text-align: center;
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; 

}

.block  {	
  display: inline-block;
  position: relative;
  padding: 3% 75px;
  margin: 0px auto;
  width: 320px;
  height: 480px;
}

.wrapper {
  position: absolute;
  background-image: url(../public/img/Back.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 480px;
  cursor: pointer;
}

.back-pattern {
  width: 100%;
  height: 100%;
}   

.title_block {
  position: relative;
  top: 25px;
  text-align: left;
  padding-left: 50px;
}

span {
  font-family: Trebuchet MS;
  font-size: 16px;
  font-style: normal;
  color: #666666;
}

p {
  margin: 0px;
}

h1, h2 {
  margin: 0px;
  font-family: Trebuchet MS;
  font-size: 48px;
  font-style: bold;
  margin-left: 0px;
}

h2 {
  margin-bottom: 10px ;
  font-size: 24px;
}

p span {
  font-size: 14px;
  font-style: normal;
}

.cat {
  position: absolute;
  bottom: 0px;
  padding: 0px;
  left: 4.2px;
  text-align: left; 
}

.label {
  position: absolute;
  padding: 0px;
  right: 15px;
  bottom: 15px;
  width: 81px;
  height: 81px;
  background-image: url(../public/img/Ellipse.png);
}

.weight {
  font-family: Trebuchet MS;
  font-size: 42px;
  color: #fff
}

.label div {
  position: relative;
  text-align: center;
  top: 10px;
  
}

.weight ~ p > span{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40px;
  right: 30px;
}

.text-head > span {
  color: #fff;
  font-size: 36px;
  font-family: 'Exo20';
}

.text-head  {
  position: relative;
  margin: 0px auto;
  width: 455px;
  padding: 68px 10px 0px 10px;
}

.description {
  position: relative;
  top: 490px;
  text-align: center;
  padding-bottom: 15px;
}

.description > span:first-child {
  color: #fff;
  cursor: default;
}

.description > span {
  font-size: 13px;
}

.buy {
  border-bottom: 1px dashed  #1a95d7;
  color:#1a95d7 ;
  cursor: pointer;
}

.block .selected {
  background-image: url(../public/img/Back-pink.png);
  background-repeat: no-repeat;
}

.block .selected .label {
  background-image: url(../public/img/Ellipse-pink.png);
  background-repeat: no-repeat;
}

.block .disabled {
  background-image: url(../public/img/Back-disabled.png);
  background-repeat: no-repeat;
}

.block .disabled .label {
  background-image: url(../public/img/Ellipse-disabled.png);
  background-repeat: no-repeat;
}

.block .disabled {
  cursor: default;
}

.disabled .cat img, .disabled h1, .disabled h2, .disabled span  {
  opacity:50%;
}

.disabled ~ .description span {
  color: #ffff66;
}

.wrapper:hover  {
  background-image: url(../public/img/Back-defaultHover.png);
  background-repeat: no-repeat;
}
.wrapper:hover .label {
  background-image: url(../public/img/Ellipse-defaultHover.png);
  background-repeat: no-repeat;
}

.buy:hover {
  color: #2ea8e6;
} 

.disabled:hover  {
  background-image: url(../public/img/Back-disabled.png);
  background-repeat: no-repeat;
}
.disabled:hover .label {
  background-image: url(../public/img/Ellipse-disabled.png);
  background-repeat: no-repeat;
}

.selected:hover  {
  background-image: url(../public/img/Back-pinkSelectedHover.png);
  background-repeat: no-repeat;
}

.selected:hover .label {
  background-image: url(../public/img/Ellipse-pinkSelectedHover.png);
  background-repeat: no-repeat;
}

.selected:hover .title {
  display: none;
}

.selected:hover .hover_title {
  display: block;
}

.without-hover .hover_title {
  display: none !important;
}

.without-hover .title {
  display: block !important;
}

.without-hover:hover  {
  background-image: url(../public/img/Back-pink.png);
  background-repeat: no-repeat;
}

.without-hover:hover .label {
  background-image: url(../public/img/Ellipse-pink.png);
  background-repeat: no-repeat;
}